@import './variables';

html body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: transparentize($primary-color, 0.3);
  color: #fff;
}

a.no-link {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  svg {
    margin-top: -3px;
    & + .text { margin-left: 7px; }
    .text + & { margin-right: 7px; }
  }
}

.badge + .badge {
  margin-left: 4px;
}
