
html body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  svg {
    margin-top: -3px;
    & + .text { margin-left: 7px; }
    .text + & { margin-right: 7px; }
  }
}

.badge + .badge {
  margin-left: 4px;
}
