
.conversation-page {
  margin-top: 40px;

  .channel-badges {
    text-align: center;
    font-size: 19px;
    text-transform: capitalize;

    .badge {
      margin-left: 7px;
      cursor: pointer;

      &.selected {
        background-color: #ff6b6b;
      }
    }
  }
}
