@import '../variables';

.conversation-page {

  .channel-badges {
    text-align: center;
    font-size: 19px;
    text-transform: capitalize;

    .badge {
      margin-left: 7px;
      cursor: pointer;

      &.selected {
        background-color: $secondary-color;
      }
    }
  }
}
