
.page-404 {
  background-color: #e8e8e8;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;

  h1 {
    margin-top: 24%;
    font-variant: small-caps;
  }
  img {
    max-width: 80%;
  }
}
