
.search-page-container {
  margin-top: 40px;
  text-align: center;

  .users {
    margin-top: 7%;

    mark {
      background-color: rgba(23, 162, 184, 0.7);
      color: #fff;
    }
    @media (min-width: 992px) {
      hr {
        width: 42%;
      }
    }
    .user-info {
      margin-bottom: 8px;

      a {
        color: inherit;
        &:hover {
          text-decoration: none;
          color: #17a2b8;
        }
      }
      code {
        margin-right: 5px;
        margin-left: 20px;
      }
    }
  }
}
