@import '../variables';

.search-page {
  margin-top: 40px;
  text-align: center;

  .users {
    margin-top: 7%;

    @media (min-width: 992px) {
      hr {
        width: 42%;
      }
    }
    .user-info {
      margin-bottom: 8px;

      a:hover {
        color: $primary-color;
      }
    }
  }
}
